﻿@model TheBakery.ViewModels.MenuItemListViewModel



@{
    ViewBag.Title = "Menu";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<menu>

    


    @foreach (var item in Model.Items)
    {
        <section class="grid grid-menu">
            <div>
            
            <div class="product">Name: @item.Name</div>
            <div class="product">Description: @item.Description</div>
            <div class="product">Price: @item.Price</div>
            <div class="product">Type: @item.Type</div>
            <div class="product">Size: @item.Size</div>
            <br />
            
            </div>
        </section>
    }

    @*<li>Name: @Model.Items</li>
        <li>Description: @Model.Description</li>
            <li>Price: @Model.Price</li>
            <li>Type: @Model.Type</li>
            <li>Size: @Model.Size</li>
    *@







    @*<li>Glazed Donut</li>
        <li>Double Chocolate Muffin</li>
        <li>Maple Cinnamon Donut</li>
        <li>Iced cookie with Sprinkles</li>
        <li>Coffee</li>
    *@


    @*<fieldset>
            @if (Model.MenuItems != null && Model.MenuItems.Count > 0)
            {
                <legend>
                    McHappy's Menu
                </legend>

                foreach (var item in Model.MenuItems)
                {
                    <div style="border: solid 1px #f0f0f0; margin: 2px;"></div>
                    <div>
                        Text: @item.Name
                    </div>
                    <div>
                        Text: @item.Price
                    </div>
                }
            }
        </fieldset>*@


</menu>