﻿@{
    ViewBag.Title = "Home Page";
}

<!-- The break line tags are just to expand the jumbotron to show full picture
    this will be done in a better way at a later time, but for now it works. -->
<div class="jumbotron">
    <h1 style="color: black; text-align: center">Awesome Bakery!</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Home Page</h2>
        <p>
            You are currently in the home page section of our restaurant web site.
            You can go to other pages by using the navigation bar at the top of the page.
            Register an account and then use those credentials to login in for future orders!
        </p>
        <p>
            Here's a link of where this information came from:
            http://www.mchappys.com/index.html
        </p>
        

    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            Head on over to our About Us page to check out the McHappy's Donuts Promise! We think you'll
            feel better knowing more about us and our mission.
        </p>
        <p>
            Address: 708 Main St. Belpre, OH 45714
            Hours: Open 24 hours! 740-423-8178
        </p>
    </div>
    <div class="col-md-4">
        <h2>Menu</h2>
        <p>
            The menu section shows our store menu and what we have to offer. You can view these items to plan ahead
            for what you want when you call in for delivery or come to one of our many locations!
            In the future there will be the availability to order from the website and select from our menu items.
            Then once ordered they will be delivered to you!
        </p>
    </div>
</div>