﻿@model TheBakery.ViewModels.ContactInfo


@{
    ViewBag.Title = "RequestInfoSubmitted";
}

<h2>Request Information Submitted</h2>
<h3>You have successfully submitted your form!</h3>
<h4>Here is your data:</h4>
<ul>

    <li>Username: @Model.UserName</li>
    <li>First Name: @Model.FirstName</li>
    <li>Last Name: @Model.LastName</li>
    <li>Email: @Model.Email</li>
    <li>Age: @Model.Age</li>
    <li>Comments: @Model.Comments</li>

</ul>

<!--<form action="/RequestInformation/RequestInfoSubmitted" method="get">
    
    


</form>
    -->
<!-- m => m.name)-->




