﻿
@{
    ViewBag.Title = "Request Information";
}


@model TheBakery.ViewModels.ContactInfo


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="bootstrap/bootstrap-2.3.1.min.js"></script>


<h2>Request Information</h2>

@using (Html.BeginForm("RequestInfoSubmitted", "RequestInformation", FormMethod.Post))
{
 
    @Html.LabelFor(m => m.UserName)
    <br />

    @Html.TextBoxFor(m => m.UserName);
    <br />

    @Html.ValidationMessageFor(m => m.UserName);
    <br />
    <br />


    @Html.LabelFor(m => m.FirstName) 
    <br />
    
    @Html.TextBoxFor(m => m.FirstName);
    <br />
    
    @Html.ValidationMessageFor(m => m.FirstName);
    <br />
    <br />
    
    @Html.LabelFor(m => m.LastName);
    <br />
    
    @Html.TextBoxFor(m => m.LastName);
    <br />
    
    @Html.ValidationMessageFor(m => m.LastName);
    <br />
    <br />

    @Html.LabelFor(m => m.Email);
    <br />

    @Html.TextBoxFor(m => m.Email);
    <br />
    
    @Html.ValidationMessageFor(m => m.Email);
    <br />
    <br />
    
    @Html.LabelFor(m => m.EmailConfirm);
    <br />
    
    @Html.TextBoxFor(m => m.EmailConfirm);
    <br />
    
    @Html.ValidationMessageFor(m => m.EmailConfirm);
    <br />
    <br />
    
    
    @Html.LabelFor(m => m.Age)
    <br />
    
    @Html.TextBoxFor(m => m.Age)
    <br />
    
    @Html.ValidationMessageFor(m => m.Age)
    <br />
    <br />
    
    
    @Html.LabelFor(m => m.Comments)
    <br />

    @Html.TextAreaFor(m => m.Comments);
    <br />

    <button type="submit">Submit</button>
     
    //<input type="text" name="name" />

    //<input type="submit" value="Submit" />

    
}

<!--
<form action="/RequestInformation/RequestInfoSubmitted" method="post" >
   <!--<input type="text" name="name" />
    
    
    <input type="submit" value="Submit" />
</form>-->
    
